@import "reset.css" screen;

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.zoom-viewer {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 0;
    bottom: 50%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.zoom-body {
    transform: scale(1) translateZ(0);
    -webkit-transform: scale(1) translateZ(0);
    -webkit-transform-origin: 0px 0px;
    -transform-origin: 0px 0px;
}
.zoom-body img {
     width: 100%;
     height: 100%;
 }
.without-scroll {
    overflow: hidden;
}